@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .panoramaBorder {
    @apply border-solid border-white border-opacity-30;
  }

  .panoramaIconTransition {
    @apply z-10 transition-opacity hover:opacity-0;
  }

  .panoramaBlur {
    @apply bg-black/20 backdrop-blur-2xl;
  }

  .panoramaBlur2 {
    @apply bg-white/10 backdrop-blur-xl;
  }

  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf");
}

* {
  font-family: "Roboto";
}
